#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;
}

#nav {
    line-height:40px;
    background-color:#eeeeee;
    height:550px;
    width:150px;
    float:left;
    padding:10px; 
    text-align:center;
}

#setting {
	position:relative;
	margin-top:120%;
}

#add {
	position:relative;
	margin-top:100%;	
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

#table td{
	width: 150px;
	padding: 15px;
}

.name {
	width: 40px;
}

.time {
	width: 20px;
	text-align:center;
}

.rating {
	width: 80px;
	text-align:center;
}

.location {
	width: 120px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}

