#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;
}

#nav {
    line-height:40px;
    background-color:#eeeeee;
    height:400px;
    width:150px;
    float:left;
    padding:10px; 
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

#table td{
	width: 150px;
	padding: 15px;
}

.name {
	width: 40px;
}

.time {
	width: 20px;
}

.rating {
	width: 80px;
}

.location {
	width: 80px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}

